


#capaGroga, #capaVerda{
    position: relative;
    height: 120px;
    width: 160px;
 }

 #capaBlava, #capaVermella{
    position: absolute;
    height: 40px;
    width: 40px;
}

 #capaGroga{
     background-color: rgb(255, 251, 0);
     z-index: 1;
     margin-left: 20px;
     top: 40px;
 }
 #capaBlava{
    background-color: rgb(0, 81, 255);
    bottom: 60px;
    margin-left: 20px;
}

 #capaVermella{
    background-color: rgb(255, 0, 0);
    margin-top: 60px;
    margin-left: 100px;
}

 #capaVerda{
     background-color: rgb(81, 255, 0);
     top: 20px;
     margin-left: 100px;
 }

